* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --primary: #0d1b2a;
  --secondary: #1b263b;
  --tertiary: #415a77;
  --quaternary: #778da9;
  --quinary: #e0e1dd;
}
body {
  background-color: var(--quinary);
}
h1 {
  font-size: 3rem;
  color: var(--primary);
}
h1 a {
  font-size: 3rem;
  color: var(--primary);
  margin: 5px;
  text-decoration: none;
}
h2 {
  font-size: 2.5rem;
  color: var(--primary);
}
h3 {
  font-size: 2rem;
  color: var(--tertiary);
  font-family: "Poiret One", cursive;
}
h4 {
  font-size: 1.75rem;
  color: var(--tertiary);
  font-family: "Poiret One", cursive;
}
h5 {
  font-size: 1.5rem;
  color: var(--tertiary);
  font-family: "Poiret One", cursive;
}
h6 {
  font-size: 2rem;
  color: var(--primary);
}
header {
  background-color: var(--tertiary);
  margin: 5px 5px 0px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poiret One", cursive;
}
.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-item {
  margin: 0px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
}
.nav-active {
  color: var(--quinary);
}
main {
  margin: 0px 5px;
  padding: 10px;
  min-height: 84vh;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#about {
  margin: 20px auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.about-image {
  margin: 20px auto;
  height: 300px;
}
.about-text {
  margin: 20px;
  font-size: 1.5rem;
  line-height: 2;
  text-align: justify;
  color: var(--tertiary);
}
#portfolio {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-items {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.portfolio-items a {
  text-decoration: none;
  color: var(--tertiary);
  margin-top: 10px;
}
.portfolio-image {
  height: 200px;
  width: 300px;
}
#contact {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#form-name,
#form-email,
#form-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  font-size: 1.5rem;
  font-family: "Poiret One", cursive;
  color: var(--tertiary);
}
.form-input {
  font-size: 1.5rem;
  padding: 5px;
  margin-top: 10px;
  color: var(--tertiary);
}
.form-input:focus {
  border: 1px solid var(--tertiary);
  box-shadow: 0 0 0.25rem var(--secondary);
}
.error-text {
  font-size: 1.25rem;
  color: red;
}
#form-button {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Poiret One", cursive;
  background-color: var(--tertiary);
  color: var(--quinary);
}
#form-button:hover {
  box-shadow: 0 0 0.25rem var(--secondary);
}
#resume {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.resume-items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.resume-items ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.resume-detail {
  font-size: 1.5rem;
  margin-top: 25px;
  color: var(--secondary);
}
footer {
  background-color: var(--tertiary);
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  margin: 5px 10px;
}
